In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('movie_rating.csv')
df

       Genre  Year  Budget(M$)  Ratings %      Date
0     Action  2008          28         48  01/07/19
1     Action  2008         200         63  02/07/19
2     Action  2008          32         57  03/07/19
3     Action  2010          20         52  04/07/19
4  Adventure  2009          18         84  05/07/19
5  Adventure  2010         105         44  06/07/19
6     Comedy  2010          20         70  07/07/19
7     Comedy  2008           8         81  08/07/19
8     Comedy  2009          30         71  09/07/19

In [4]:
df.dtypes

Genre         object
Year           int64
Budget(M$)     int64
Ratings %      int64
Date          object
dtype: object

In [5]:
type(df.Date)

pandas.core.series.Series

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
type(df.Date[0])

str

In [8]:
df=pd.read_csv('movie_rating.csv',parse_dates=['Date'])
df

       Genre  Year  Budget(M$)  Ratings %       Date
0     Action  2008          28         48 2019-01-07
1     Action  2008         200         63 2019-02-07
2     Action  2008          32         57 2019-03-07
3     Action  2010          20         52 2019-04-07
4  Adventure  2009          18         84 2019-05-07
5  Adventure  2010         105         44 2019-06-07
6     Comedy  2010          20         70 2019-07-07
7     Comedy  2008           8         81 2019-08-07
8     Comedy  2009          30         71 2019-09-07

In [10]:
df.dtypes

Genre                 object
Year                   int64
Budget(M$)             int64
Ratings %              int64
Date          datetime64[ns]
dtype: object

In [11]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp