In [1]:
import pandas as pd

In [2]:
#PANDAS DATAFRAME

In [3]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
l=['a','b','c','d']
print(l)

['a', 'b', 'c', 'd']

In [5]:
df1=pd.DataFrame(l)
print(df1)

   0
0  a
1  b
2  c
3  d

In [6]:
df1

   0
0  a
1  b
2  c
3  d

In [7]:
ls_ls=[[1,2,3],[2,3,4],[3,4,5]]
ls_ls

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [8]:
df2=pd.DataFrame(ls_ls)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

In [11]:
dict1={'id':[1,2,3,4],'id1':[5,6,7,8]}
dict1

{'id': [1, 2, 3, 4], 'id1': [5, 6, 7, 8]}

In [12]:
pd.DataFrame(dict1)

   id  id1
0   1    5
1   2    6
2   3    7
3   4    8

In [16]:
ls_dict=[{'id1':1,'id2':2},{'id1':3,'id2':4}]
ls_dict

[{'id1': 1, 'id2': 2}, {'id1': 3, 'id2': 4}]

In [17]:
pd.DataFrame(ls_dict)

   id1  id2
0    1    2
1    3    4

In [20]:
ls_dict1=[{'id1':1,'id2':2},{'id3':3,'id4':4}]
ls_dict1

[{'id1': 1, 'id2': 2}, {'id3': 3, 'id4': 4}]

In [21]:
pd.DataFrame(ls_dict1)

   id1  id2  id3  id4
0  1.0  2.0  NaN  NaN
1  NaN  NaN  3.0  4.0

In [23]:
dict_sr={'id':pd.Series([1,2,3]),'id1':pd.Series([4,5,6])}
dict_sr

{'id': 0    1
 1    2
 2    3
 dtype: int64,
 'id1': 0    4
 1    5
 2    6
 dtype: int64}

In [24]:
pd.DataFrame(dict_sr)

   id  id1
0   1    4
1   2    5
2   3    6